
{% extends "layout.html" %}

{% block content %}
<div class="page-header text-center">
<h1> Driver Dashboard </h1>
</div>
<h1>Hi, {{ current_user.username }}!</h1>

{% for r in request_forms %}
	<p>{{ r.submit() }}</p>
{% endfor %}

<form action="" method="post">
	{% if u1 %}
		<p>USERNAME : {{ u1.username }}</p>
		{% for r in r1 %}
			{% if r.accepted and not r.is_valid %}
				<p>REQUEST ID: {{ r.id }}</p>
				<p>TIME OF REQUEST : {{ r.time_of_request }}</p>
				<p>PICKED UP : {{ r.accepted }}</p>
				<p>ORIGN : {{ r.origin }}</p>
				<p>DESTINATION : {{ r.destination }}</p>
				{{ form1.request_id(value=r.id) }}
	    	{% endif %}
	    {% endfor %}
		{{ form1.hidden_tag() }}
    <p>{{ form1.submit() }}</p>
    {% endif %}
</form><br>
    <td>------------------------------------------------------------------------------------------------------------------------------------------------------</</td><br>
<form action="" method="post">
	{% if u2 %}
		<p>USERNAME : {{ u2.username }}</p>
		{% for r in r2 %}
			{% if r.accepted and not r.is_valid  %}
				<p>REQUEST ID: {{ r.id }}</p>
				<p>TIME OF REQUEST : {{ r.time_of_request }}</p>
				<p>PICKED UP : {{ r.accepted }}</p>
				<p>ORIGIN : {{ r.origin }}</p>
				<p>DESTINATION : {{ r.destination }}</p>
				{{ form2.request_id(value=r.id) }}
	    	{% endif %}
	    {% endfor %}
	    {{ form2.hidden_tag() }}
	    <p>{{ form2.submit() }}</p>
    {% endif %}
</form><br>
    <td>------------------------------------------------------------------------------------------------------------------------------------------------------</</td><br>

<p id="demo"></p>

<script>

</script>

{% endblock %}
