
{% extends "layout.html" %}

{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}

    <h1> Let it Fly </h1>
    <p> 
    	“Let It Fly” is a Bay Area Companany (San Mateo, Santa Clara, Alameda) that allows sub-contracted drivers to locate their next customer request to/from one of the 3 airports (SFO, OAK, SJC). Requires mapping, time based traffic events, and location based searches to guarantee the wait time to 30 minutes from the time of request.
    </p>

	<p>
		You are responsible to develop the IT infrastructure and website for both the customer and driver. Customer can go onto this website and request a ride. The cost is based on distance and time (like how a taxi works) with a minimum cost of $15 (first 2 miles are free). The website will include logic to find the next closest available driver based on real-time driving time to reach customer. Once it does, it will dispatch the drivers to the customer location. Need to be able to track the driver and new customer request via Google map. Should use map services to calculate driving distances with travel and other information included.
	</p>

	<p>
		Special note: We use Google Map for routing. Each driver can pick up 2 different parties if there are open seats. For example, customer A was picked up from SJSU to SFO. On the path to SFO, customer B requested a ride which is less than 1 miles off of the main driving path to SFO. Driver then takes a detour to pick up customer B before resuming the path to SFO. If a driver picked up a 2nd party to airport, both passenger parties will get a $5 discount.
	</p>

<img src="https://maps.googleapis.com/maps/api/staticmap?size=700x300&markers=stanford" alt="map of stanford">
{% endblock %}
