{% extends "bootstrap/base.html" %}

<html>
	{% block head %}
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- JQuery Library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!--  Bootstrap Minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- JavaScript Library -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Include Styling -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


		{% if title %}
		<title>{{ title }} - Let it Fly</title>
		{% else %}
		<title>Let it Fly</title>
		{% endif %}
	</head>
	{% endblock %}

	{% block body %}
	<body>
		<div id="topnav">
			{% block navbar %}
			{% include 'include/navbar.html' %}
			{% endblock %}
		</div>
		<!-- Page Content -->
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<!-- Footer -->
		<div id="footer">
			<hr>
			<p>CS160 - 2018 --  
			<a href="https://github.com/tholsapp/CS160Project">  GITHUB</a></p>
			</hr>
		</div>
	</body>
	{% endblock %}
</html>
