{% extends "bootstrap/base.html" %}

<html>
	{% block head %}
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--  Bootstrap Minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- JQuery Library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- JavaScript Library -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		{% if title %}
		<title>{{ title }} - Web App</title>
		{% else %}
		<title>Web App</title>
		{% endif %}
	</head>
	{% endblock %}

	{% block body %}
	<body>
		<!-- Naviagtion Bar -->
		{% block navbar %}
		{% include 'include/navbar.html' %}
		{% endblock %}

		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<!-- Page Content -->
		<div class="container">
			<div class="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<!-- Footer -->
		<div class="footer">
			<hr>
			<p>CS160 - 2018</p>
		</div>
	</body>
	{% endblock %}
</html>
