{% extends "bootstrap/base.html" %}

<html>
	{% block head %}
	<head>
		<!-- Put custom CSS/JS here -->
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% if title %}
		<title>{{ title }} - Web App</title>
		{% else %}
		<title>Web App</title>
		{% endif %}
	</head>
	{% endblock %}
	{% block body %}
	<body>
		<div class="navbar navbar-fixed-top">
			{% block navbar %}
				{% include 'include/navbar.html' %}
			{% endblock %}
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
	{% endblock %}
</html>
