
body {
  background-color: cornsilk;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 880px;
}


h1 {
  color: navy;
  margin-left: 20px;
}

canvas {
  display: inline-block;
  width: 600;
  margin: auto;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}


#topnav {
  height: 100px;
  width: 100%;
  overflow-y: hidden;
}

#content {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 500px;
  width: 100%;
}

#rideForm div {
  display: inline-block;
}


#footer {
  text-align: center;
}
